HelloWorldEAR/helloWorldClient/WebContent/WEB-INF/wsdl/HelloWorld2Service_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://next.ws.acme.org/" targetNamespace="http://next.ws.acme.org/" version="1.0">

  <xs:element name="helloName" type="tns:helloName"/>

  <xs:element name="helloNameResponse" type="tns:helloNameResponse"/>

  <xs:complexType name="helloName">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="helloNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
